body {
    padding-inline: 10%;
}

nav {
    display: flex;
    gap: 1rem 3rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-inline: 5%;
    padding: 0.5rem 3rem;
}

nav h2 {
    margin: 0 auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
}

nav li {
    margin-inline: auto;
}

/* nav a {
    color: #eee;
    text-decoration: none;
    font-size: 1.2rem;
} */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-block: 2rem;
    gap: 2rem;
}

img {
    object-fit: cover;
    width: 100%;
}

.stats {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.stats > div {
    padding: 0.5rem 2rem;
    background-color: lightgray;
}

div:has(> table) {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

span.error {
    color: red;
}