img {
    object-fit: cover;
    width: 100%;
}

body {
    min-height: 100dvh;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding-inline: 10%;
    font-family: sans-serif;
    line-height: 1.3;
    background-color: #eee;
    gap: 0.5em;
}

#mainStats {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.message {
    max-width: max-content;
    margin-block: 0.5em;
    padding: 0.25em 1em;
    border-radius: 1em;
    background-color: rgba(50, 50, 50, 0.3);
    border: 2px solid rgb(50, 50, 50);
    color: rgb(50, 50, 50);
}

.message.error {
    background-color: rgba(255, 50, 50, 0.3);
    border: 2px solid rgb(255, 50, 50);
    color: rgb(255, 50, 50);
}

#mainStats .stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 1em 5em;
}

#mainStats .stats .wrapper {
    display: flex;
    gap: 1em;
    flex-direction: column;
}

#mainStats .stats .values {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0.5em 1em;
    border-radius: 1em;
    width: 10em;
    flex: 1;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#mainStats .stats .values p {
    margin: 0.5em 0;
}

p.messageText, a, button, h1, h2, h3 {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0 3em;
    padding-block: 1em;
}

header > * {
    margin-inline: auto;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
}

header .links {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

[role="button"], button, select, input, textarea {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.5em;
    padding: 0.5em 1em;
    text-decoration: none;
    color: initial;
    border: none;
    width: max-content;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: 1em;
    height: max-content;
    font-family: inherit;
}

[role="button"].danger, button.danger {
    color: #eee;
    background-color: rgb(255, 50, 50);
}

[role="button"].primary, button.primary {
    color: #eee;
    background-color: rgb(50, 50, 255);
}

input, select, textarea {
    border: 2px solid rgba(0, 0, 0);
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

form > div {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.historyLinks {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    margin-block: 1em;
    align-items: center;
    justify-content: center;
}

#historyForm {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
}

.container-row {
    display: flex;
    flex-wrap: wrap;
    gap: 0 1em;
    align-items: center;
    margin-block: 0.5em;
}

hr {
    width: 100%;
    margin-block: 1em;
    margin-inline: 0 auto;
}

.table-wrapper {
    overflow: auto;
}

table {
    background-color: rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 0.5em;
    width: 100%;
}

th, td {
  text-align: left;
  padding: 0.5em 1em;
  border-right: 1px solid currentColor;
}

th:last-of-type, td:last-of-type {
    border-right: none;
}

tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.2);
}

section {
    margin-block: 1em;
}

.indexHero {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 1em 5em;
    align-items: center;
    justify-content: space-between;
}

.indexHero > * {
    margin-inline: auto;
}