* {
    box-sizing: border-box;
}

body {
    background-color: #222;
    color: #eee;
    font-family: sans-serif;
    padding-inline: 10%;
}

nav {
    display: flex;
    gap: 1rem 3rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-inline: 5%;
    padding: 0.5rem 3rem;
}

nav h2 {
    margin: 0 auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
}

nav li {
    margin-inline: auto;
}

nav hr {
    border: 0;
    margin-left: -1rem;
}

nav a {
    color: #eee;
    text-decoration: none;
    font-size: 1.2rem;
}

nav a.button {
    margin: 0;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
}

a.button {
    color: #eee;
    text-decoration: none;
    background-color: #333;
    border-radius: 1rem;
    corner-shape: squircle;
    padding: 0.75rem 2rem;
    display: inline-block;
    margin-block: 1rem;
    font-size: 1.1rem;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-block: 2rem;
    gap: 2rem;
}

img {
    object-fit: cover;
    width: 100%;
}